package-lock=false
save-prefix='~'
registry=https://repo.forge.lmig.com/api/npm/npm/

## Add one of the following to $HOME/.npmrc
# proxy=http://localhost:3128 # if using CNTLM or squid
# proxy=http://www-proxy.3dns.lmig.com:80
# proxy=http://www-proxy.lmig.com:80
